{% extends 'layaut.html' %}

{% block body %}
<div class="row">
    <!--En la columna de 5 estara el formulario-->
    <div class="col-md-5">
                
        {# Recorremos cada mensaje si hay  #}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p>{{ message }}</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        <div class="card card-body">
            <form action="/add_facturas" method="POST">
                
                <div class="form-group">
                <input type="text" name="Codigo" placeholder="Codigo de la factura" class = "form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" name="Cedula" placeholder="Cedula del cliente" class = "form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" name="Productos" placeholder="Productos separados por coma" class = "form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" name="Cantidad" placeholder="Cantidad de productos separados por coma" class = "form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" name="Fecha" placeholder="Fecha formato (YYY-MM-DD)" class = "form-control">
                </div>
                
                <div class="form-group">
                    <input type="text" name="Metodo" placeholder="Metodo de pago" class = "form-control">
                </div>
                
                <div class="form-group">
                    <button type ="submit" class = "btn btn-primary btn-block"> Guardar </button>
                </div>
                
            </form>
        </div>
    </div>
    <!--En la columna de 7 estaran los registros de los clientes-->
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Codigo Factura</td>
                    <td>Cedula cliente</td>
                    <td>fecha compra</td>
                    <td>metodo pago </td>
                    <td>Operaciones </td>
                   <!--  <td>Fecha</td>
                    <td>Metodo</td>
                    <td>Operaciones</td> -->
                </tr>
            </thead>
            <tbody>
                {% for factura in facturas %}
                    {# tr es igual a fila y td es cada columna #}
                    <tr>
                        <td>{{ factura.0 }}</td>
                        <td>{{ factura.1 }}</td>
                        <td>{{ factura.2 }}</td>
                        <td>{{ factura.3 }}</td>
                        <!--<td>{{ factura.4 }}</td>
                        <td>{{ factura.5 }}</td>-->
                        <td>
                            {# Le pasamos el producto #}
                            <a href="/edit_facturas/{{factura.0}}" class="btn btn-secondary">Editar</a>
                            <a href="/delete_facturas/{{factura.0}}" class="btn btn-danger">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-10">
        <a href="/">Regresar</a>
    </div>

</div>


{% endblock %}