<!--Hereda la interfaz de layaut-->
{% extends 'layaut.html' %}

{% block body %}
{# El metodo post es para enviarle los datos y luego llamarlo con el metodo request #}
<form action="/actualizar_producto/{{ producto.0 }}" method="POST">

    <input type="text" name="Codigo" placeholder="Codigo" value="{{ producto.0 }}">
    <input type="text" name="Categoria" placeholder="Categoria" value="{{ producto.1 }}">
    <input type="text" name="Nombre" placeholder="Nombre" value="{{ producto.2 }}">
    <input type="text" name="Precio" placeholder="Precio" value="{{ producto.3 }}">
    <input type="text" name="Cantidad" placeholder="Cantidad" value="{{ producto.4 }}">
    <input type="text" name="Estado" placeholder="Estado" value="{{ producto.5 }}">
    <button type ="submit"> Guardar </button>
</form>
{% endblock %}