<!--Hereda la interfaz de layaut-->
{% extends 'layaut.html' %}

{% block body %}
{# El metodo post es para enviarle los datos y luego llamarlo con el metodo request #}
<div class="col-md-5 offset-md-4">
    <div class="card card-body">
        <form action="/actualizar/{{ cliente.0 }}" method="POST">
            <div class="form-group">
                <input type="text" name="Cedula" placeholder="Cedula" value="{{ cliente.0 }}" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="text" name="Nombre" placeholder="Nombre" value="{{ cliente.1 }}" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="text" name="Direccion" placeholder="Direccion" value="{{ cliente.2 }}" class="form-control">
            </div>
            
            <div class="form-group">    
                <input type="text" name="Telefono" placeholder="Telefono" value="{{ cliente.3 }}" class="form-control">
            </div>
            <div class="form-group">
                <input type="text" name="Foto" placeholder="Foto"  value="{{ cliente.4 }}" class="form-control">
            </div>
            <div class="form-group">
                <button type ="submit"  class = "btn btn-primary btn-block"> Guardar </button>
            </div>
            
        </form>
    </div>
</div>


{% endblock %}