{% extends 'layaut.html' %}

{% block body %}
<div class="row">
    <!--En la columna de 5 estara el formulario-->
    <div class="col-md-5">
        <div class="card card-body">
            <form action="/add_cliente" method="POST">
                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="text" name="Cedula" placeholder="Cedula">
                <input type="text" name="Direccion" placeholder="Direccion">
                <input type="text" name="Telefono" placeholder="Telefono">
                <input type="text" name="Foto" placeholder="Foto">
                <button type ="submit"> Guardar </button>
            </form>
        </div>
    </div>
    <!--En la columna de 7 estaran los registros-->
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Cedula</td>
                    <td>Nombre</td>
                    <td>Direccion</td>
                    <td>Telefono</td>
                    <td>Foto</td>
                    <td>Operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for clien in clientes %}
                    {# tr es igual a fila y td es cada columna #}
                    <tr>
                        <td>{{ clien.0 }}</td>
                        <td>{{ clien.1 }}</td>
                        <td>{{ clien.2 }}</td>
                        <td>{{ clien.3 }}</td>
                        <td>{{ clien.4 }}</td>
                        <td>
                            {# Le pasamos la cedula #}
                            <a href="/edit_contact/{{clien.0}}">Editar</a>
                            <a href="/delete/{{clien.0}}">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{# Recorremos cada mensaje si hay  #}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <p>{{ message }}</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

{# Mostrando los clientes #}

{% endblock %}