{# Recorremos cada mensaje si hay  #}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/add_contact" method="POST">
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="text" name="Cedula" placeholder="Cedula">
    <input type="text" name="Direccion" placeholder="Direccion">
    <input type="text" name="Telefono" placeholder="Telefono">
    <input type="text" name="Foto" placeholder="Foto">
    <button type ="submit"> Guardar </button>
</form>