{# Recorremos cada mensaje si hay  #}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="/add_cliente" method="POST">
    <input type="text" name="Nombre" placeholder="Nombre">
    <input type="text" name="Cedula" placeholder="Cedula">
    <input type="text" name="Direccion" placeholder="Direccion">
    <input type="text" name="Telefono" placeholder="Telefono">
    <input type="text" name="Foto" placeholder="Foto">
    <button type ="submit"> Guardar </button>
</form>
{# Mostrando los clientes #}
<table>
    <thead>
        <tr>
            <td>Cedula</td>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td>Foto</td>
            <td>Operaciones</td>
        </tr>
    </thead>
    <tbody>
        {% for clien in clientes %}
            {# tr es igual a fila y td es cada columna #}
            <tr>
                <td>{{ clien.0 }}</td>
                <td>{{ clien.1 }}</td>
                <td>{{ clien.2 }}</td>
                <td>{{ clien.3 }}</td>
                <td>{{ clien.4 }}</td>
                <td>
                    {# Le pasamos la cedula #}
                    <a href="/edit_contact/{{clien.0}}">Editar</a>
                    <a href="/delete/{{clien.0}}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>